body {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    background: white;
    padding: 30px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 20px;
}

#wordDisplay {
    font-size: 24px;
    letter-spacing: 5px;
    margin: 15px 0;
}

input {
    width: 50px;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}

button {
    margin: 8px 4px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4facfe;
    color: white;
}

button:hover {
    background-color: #00c6ff;
}

#message {
    font-weight: bold;
    margin-top: 15px;
}
.bottom-link {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}