.header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #000000;
    text-align: center;
}

.list {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #333333;
    margin: 5px;
    text-align: left;
}
.subheader {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #000000;
    text-align: left;
    padding: 10px;
}
.image {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    display: block;
    width: 50%;
}   
.footer {
      font-family: Arial, Helvetica, sans-serif;
      padding: 10px;
      text-align: center;
    }